{%extends 'template.html'%}
{%block title%}Detalles de notificación{%endblock title%}
{%block main%}
<div class="container-fluid">
    <div class="center-vertical row m-3">
        <h3 class="text-center">Detalles de la solicitud</h3>
        <hr>

        <h4 class="text-start">Descripción</h4>
        <p class="text-start" id="description"></p>
        <br>
        <h4 class="text-start">Permiso</h4>
        <p class="text-start" id="permission"></p>
        <br>
        <h4 class="text-start">Nombre del futuro archivo</h4>
        <p class="text-start" id="name"></p>
        <br>
        <h4 class="text-start">Correos a enviar</h4>
        <p class="text-start" id="emails"></p>

        <h4 class="text-start" id="archive">Archivo de </h4>
        <p class="text-start" id="containerA"></p>

        <form method="post" id="form" enctype="multipart/form-data">

            <div class="row">
                <div class="form-check col-3">
                    <input required name="action" class="form-check-input" type="radio" value="accept" id="accept">
                    <label class="form-check-label" for="accept">
                        Aprobar
                    </label>
                </div>

                <div class="form-check col-3">
                    <input required name="action" class="form-check-input" type="radio" value="decline" id="decline">
                    <label class="form-check-label" for="decline">
                        Denegar
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Archivo (excel, word o pdf) definitivo</label>
                <input class="form-control" type="file" id="formFile" name="file" accept=".xlsx, .xls, .docx, .doc, .pdf">
            </div>

            <div class="row">
                Indique las razones por las cuales se rechaza esta solicitud, en caso de aprobarla, omita esta casilla
                <div class="mb-3">
                    <textarea required name="details" id="details" type="text" class="form-control"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="button">Enviar respuesta</button>
        </form>
    </div>
</div>
{%endblock main%}
{%block scripts%}
<script>
    const idRequest = "{{idRequest}}";
</script>
<script src="{{url_for('static', filename='js/view.js')}}"></script>
{%endblock scripts%}